h1{
    font-size: 75px;
    color: aliceblue;
    text-align: center;
}
.bg{
    background: url(bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 75px;
    text-align: center;
}
.container{
    width: 850px;
    height: 400px;
    font-size: 50px;
    text-align: center;
    border: 7px solid rgb(81, 22, 136);
    border-radius: 15px;
    padding: 12px;
    margin-left: 500px;
    color: aliceblue;
    background: rgba(0, 0, 0, 0.795);
}
button{
    background-color: rgb(81, 22, 136);
    padding: 15px;
    color: aliceblue;
    border: 2px solid white;
    border-radius: 30px;
    width:250px;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
.nav{
    background-color: rgba(183, 0, 255, 0.473);
    margin-right: 20px;
    border: 2px solid white;
    height: 25px;
    display: flex;
    flex-direction: row;
    gap: 1250px;
    padding: 25px;
}
.content{
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 30px;
    align-items: flex-end;
    justify-content: flex-end;
}
.logo{
    display: flex;
    flex-direction: row;
    gap: 25px;
    font-size: 30px;
    align-items: flex-end;
    justify-content: flex-start;
}
.cont{
    margin-top: 100px;
}
.ss{
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    gap: 50px;
    }
    #slideshow {
    overflow: hidden;
    height: 510px;
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
    }
    .slide {
    float: left;
    
    height: 510px;
    width: 1000px;
    }
    
    .slide-wrapper {
    width: calc(1000px * 4);
    animation: slide 10s ease infinite;
    }
    
    @keyframes slide {
    
    10% {
    margin-left: 0px;
    }
    
    40% {
    margin-left: calc(-1000px * 1);
    }
    
    70% {
    margin-left: calc(-1000px * 2);
    }
    
    85% {
    
    margin-left: calc(-1000px * 3);
    }
    }
    .ss{
    font-size: 30px;
    }