h1{
    font-size: 75px;
    color: aliceblue;
    text-align: center;
}
.bg{
    background: url(bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 850px;
    font-size: 25px;
    text-align: center;
    border: 7px solid rgb(81, 22, 136);
    border-radius: 15px;
    padding: 12px;
    margin-left: 500px;
    color: aliceblue;
    background: rgba(0, 0, 0, 0.795);
}
.container1{
    width: 850px;
    height: 650px;
    font-size: 25px;
    text-align: center;
    border: 7px solid rgb(81, 22, 136);
    border-radius: 15px;
    padding: 12px;
    margin-left: 500px;
    color: aliceblue;
    background: rgba(0, 0, 0, 0.795);
}
input{
    font-size: 25px;
    background: rgba(0, 0, 0, 0.426);
    border: 2px solid rgb(81, 22, 136);
    border-radius: 15px;
    color: aliceblue;
    padding: 15px;
    margin-bottom: 30px;
}
input[type=text]{
    width: 500px;
}
input[type=email]{
    width: 500px;
}
input[type=Password]{
    width: 500px;
}
input[type=number]{
    width: 500px;
}
.l{
    width: 500px;
}
textarea{
    width: 550px;
    font-size: 25px;
    background: rgba(0, 0, 0, 0.426);
    border: 2px solid rgb(81, 22, 136);
    border-radius: 15px;
    color: aliceblue;
    padding: 15px;
}
h1{
    margin-bottom: 75px;
}
h3{
    text-align: left;
    margin-left: 220px;
}
.radio{
    text-align: left;
    margin-left: 220px;
}
.choices{
    text-align: left;
    margin-left: 100px;
}
.bt{
    background-color: rgb(81, 22, 136);
    padding: 15px;
    color: aliceblue;
    border: 2px solid white;
    border-radius: 30px;
    width:250px;
}
.bt:hover{
    background-color: aliceblue;
    color: rgb(81, 22, 136);
    border: 2px solid rgb(81, 22, 136);
}
.b{
    width: 550px;
    padding: 15px;
    text-align: center;
    border: 2px solid rgb(81, 22, 136);
    margin-left: 100px;
}
.b1{
    width: 550px;
    padding: 15px;
    text-align: center;
    border: 2px solid rgb(81, 22, 136);
    /* margin-left: px; */
}
.form{
    margin-top: 150px;
}